body {
    font-family: "Nunito", sans-serif;
    font-size: calc(1rem + 1vw);
}

.av-bg-dark {
    background: #161c2d;
}

.text-light {
    color: #f8f9fa!important;
}

.px-0 {
    padding-right: 0!important;
    padding-left: 0!important;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}